<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>

    <center>Welcome to MultiVendor E-Commerce System</center>
    <ul>
        <li><a href="{% url "store" %}">Stores</a></li>
        <li><a href="{% url "catagory" %}">Catagories</a></li>
        <li><a href="{% url "cart" %}">Cart</a></li>
        <li><a href="{% url "orders" %}">Orders</a></li>
        <li><a href="{% url "payments" %}">Payments</a></li>
    </ul>
</body>
</html>